<div class="col-md-4 col-sm-4 mt-4">
    <div class="btn-group-vertical d-flex" role="group">
        <a id="btn-metadata" class="btn btn-primary btn-lg mb-3" href="/results/{{id}}/metadata">Metadata</a>
        <a id="btn-diffExpr" class="btn btn-primary btn-lg mb-3" href="/results/{{id}}/diffExpr">Differential Expression</a>     
        <a id="btn-enrich" class="btn btn-primary btn-lg mb-3" href="/results/{{id}}/enrichment">Enrichment Analysis</a>
        <a class="btn btn-primary btn-lg mb-3">Botón 1</a>
    </div>
</div>

