    <div class="col-md-4 col-sm-4">
        <div class="btn-group d-flex flex-column" role="group">
            <a id="btn-metadata" class="btn btn-secondary btn-lg mb-3" href="/results/{{id}}/metadata" style="background-color: rgb(87, 0, 141);">Metadata</a>
            <a id="btn-diffExpr" class="btn btn-secondary btn-lg mb-3" href="/results/{{id}}/diffExpr" style="background-color: rgb(87, 0, 141);">Differential Expresion</a>     
            <a id="btn-enrich" class="btn btn-secondary btn-lg mb-3" href="/results/{{id}}/enrichment"style="background-color: rgb(87, 0, 141);">Enrichment Analysis</a>
            <a class="btn btn-secondary btn-lg mb-3" style="background-color: rgb(87, 0, 141);">Botón 1</a>
        </div>
    </div>
