<div class="row justify-content-center mb-4">
    <div class="col-md-8">
        <div class="btn-group btn-group-lg d-flex" role="group">
            <a id="btn-metadata" class="btn btn-secondary mr-3" href="/results/{{id}}/metadata" style="background-color: rgb(87, 0, 141);">Metadata</a>
            <a id="btn-diffExpr" class="btn btn-secondary mr-3" href="/results/{{id}}/diffExpr" style="background-color: rgb(87, 0, 141);">Differential Expresion</a>     
            <a class="btn btn-secondary mr-3" style="background-color: rgb(87, 0, 141);">Enrichment Analysis</a>
            <a class="btn btn-secondary mr-3" style="background-color: rgb(87, 0, 141);">Botón 1</a>
        </div>
    </div>
</div>